gameEngine/src/GameXmlParser/Schema/Generated/Gridler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="value">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Full"/>
                <xs:enumeration value="Empty"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PlayerType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Computer"/>
                <xs:enumeration value="Human"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Square">
        <xs:complexType>
            <xs:attribute name="row" type="xs:positiveInteger" use="required"/>
            <xs:attribute name="column" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Solution">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Square" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Slices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Slice" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Slice">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Blocks"/>
            </xs:sequence>
            <xs:attribute name="orientation" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="column"/>
                        <xs:enumeration value="row"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rows" type="xs:positiveInteger"/>
    <xs:element name="Players">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="player" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="player">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Name"/>
                <xs:element ref="PlayerType"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name" type="xs:string"/>
    <xs:element name="Columns" type="xs:positiveInteger"/>
    <xs:element name="Blocks" type="xs:string"/>
    <xs:element name="GameDescriptor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GameType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="SinglePlayer"/>
                            <xs:enumeration value="MultiPlayer"/>
                            <xs:enumeration value="DynamicMultiPlayer"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Board">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Definition">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="Rows"/>
                                        <xs:element ref="Columns"/>
                                        <xs:element ref="Slices"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="Solution"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MultiPlayers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="Players"/>
                        </xs:sequence>
                        <xs:attribute name="moves" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DynamicMultiPlayers" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="totalmoves" use="required"/>
                        <xs:attribute name="totalPlayers" use="required"/>
                        <xs:attribute name="gametitle" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
